anyio==4.13.0
asgiref==3.11.1
certifi==2026.5.20
Django==6.0.5
django-cors-headers==4.9.0
django-debug-toolbar==6.3.0
django-filter==25.2
djangorestframework==3.17.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.16
Markdown==3.10.2
packaging==26.2
python-dotenv==1.2.2
sqlparse==0.5.5
wheel==0.47.0
